.DS_Store

static/*.wasm
static/*.d.ts
static/wasm.js
static/package.json

frontend/dist
frontend/node_modules
frontent/package-lock.json
frontend/package.json
frontend/tailwind.css

/target
Cargo.lock