.DS_Store

static/*.wasm
static/*.d.ts
static/wasm.js
static/package.json

backend/target

frontend/dist
frontend/node_modules
frontend/package-lock.json
frontend/package.json
frontend/tailwind.css
frontend/target

/target
Cargo.lock

.devenv
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
